@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

/* Resetting the default page margins */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}

/* General page settings */

#css-zen-garden {
    background-image: url(/zenGarden/img/masaaki-komori-fzHaSRdAi68-unsplash.jpg);
    background-size: cover;
    color: #333;
}

#css-zen-garden a {
    color: crimson;
}

.page-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.page-wrapper::-webkit-scrollbar {
    display: none;
}

.intro, .main, .sidebar {
    width: 100%;
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 10%;
}

header {
    color: crimson;
    margin: 20px 0;
}

header h1 {
    font-size: 48px;
}

.summary, .summary p {
    margin: 20px 0;
}